*.a
*.bak
*.db
*.gcda
*.gcno
*.log
*.o
*.lo
*.la
*.opendb
*.orig
*.pyc
*.suo
*.trs
*.user
*~
.deps
.dirstamp
.DS_Store
.local-version
.libs
.vagrant
aclocal.m4
autom4te.cache
build
configure
config.log
config.status
doc/Doxyfile
doc/html
include/openvc-config.h
include/openvc-config.h.in
include/openvc-config-generic.h
include/openvc-config-generic.h.in
include/stamp-h1
iphc
libtool
Makefile
Makefile.in
output
third_party/nlbuild-autotools/repo/third_party/autoconf/
